.account-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        height:100vh;
}
@media(max-width:768px){
        .account-wrapper{
                margin-top:10vh;
        }
}
.login-button{
        margin: 20px;
}


.list-viewer{
  /* width: 100vw; */
}

.side-menu-list{
  /* width:30%; */
  padding-right: 0px !important;

}

.plan-list-item-name{
  width: 70%;
}
.form-check.plan-list-completed-checkbox{
  width: 20%;

}
.plan-list-completed-checkbox > input{
  width: 2em;
  height: 2em;
  margin-right: 0px;
}
.plan-list-item{
  display: inline;
  width:100%;
  display:flex;
}
.plan-list{
  /*width:70%;*/
  padding-right: 0px !important;
  padding-left: 0px !important;
}
